<header class="site-header header-main-layout-1 ast-primary-menu-enabled ast-logo-title-inline ast-hide-custom-menu-mobile ast-builder-menu-toggle-icon ast-mobile-header-inline" id="masthead" itemtype="https://schema.org/WPHeader" itemscope="itemscope" itemid="#masthead">
    <div id="ast-desktop-header" data-toggle-type="dropdown">
    <div class="ast-main-header-wrap main-header-bar-wrap ">
    <div class="ast-primary-header-bar ast-primary-header main-header-bar site-header-focus-item" data-section="section-primary-header-builder">
            <div class="site-primary-header-wrap ast-builder-grid-row-container site-header-focus-item ast-container" data-section="section-primary-header-builder">
        <div class="ast-builder-grid-row ast-builder-grid-row-has-sides ast-builder-grid-row-no-center">
                      <div class="site-header-primary-section-left site-header-section ast-flex site-header-section-left">
                  <div class="ast-builder-layout-element ast-flex site-header-focus-item" data-section="title_tagline">
                      <div class="site-branding ast-site-identity" itemtype="https://schema.org/Organization" itemscope="itemscope">
          <span class="site-logo-img"><a href="" class="custom-logo-link" rel="home" aria-current="page">

            <!-- <img width="130" height="50" src="ChicNestInteriorokokokokokok.svg" class="custom-logo" alt="" decoding="async"> -->
            <%= image_tag('ChicNestInteriorokokokokokok.svg', width:"130", height:"50", class:"custom-logo") %>
          </a></span><div class="ast-site-title-wrap">
            <span class="site-title" itemprop="name">
        <a href="" rel="home" itemprop="url">

        </a>
      </span>

        </div>        </div>
      <!-- .site-branding -->
          </div>
                </div>
                                                  <div class="site-header-primary-section-right site-header-section ast-flex ast-grid-right-section">
                    <div class="ast-builder-menu-1 ast-builder-menu ast-flex ast-builder-menu-1-focus-item ast-builder-layout-element site-header-focus-item" data-section="section-hb-menu-1">
      <div class="ast-main-header-bar-alignment"><div class="main-header-bar-navigation"><nav class="site-navigation ast-flex-grow-1 navigation-accessibility site-header-focus-item" id="primary-site-navigation-desktop" aria-label="Site Navigation: primary" itemtype="https://schema.org/SiteNavigationElement" itemscope="itemscope"><div class="main-navigation ast-inline-flex"><ul id="ast-hf-menu-1" class="main-header-menu ast-menu-shadow ast-nav-menu ast-flex  submenu-with-border stack-on-mobile"><li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-9 current_page_item menu-item-60">
        <%# <a href="" aria-current="page" class="menu-link">Home</a> %>
        <%= link_to "Home", root_path, class: 'menu-link' %>
      </li>
<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><%= link_to "About",about_path, class:"menu-link" %></li>
<li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
  <%# <a href="https://chicnestinterior.in/services/" class="menu-link">Services</a> %>
  <%= link_to "Services",services_path, class:"menu-link" %>
</li>
<li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a href="https://chicnestinterior.in/projects/" class="menu-link">Projects</a></li>
<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><%= link_to "Contact us",contact_us_path, class:"menu-link" %></li>
</ul></div></nav></div></div>   </div>
                  </div>
                        </div>
          </div>
                </div>
      </div>
  </div> <!-- Main Header Bar Wrap -->

    </header>
