<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
</head>
<%= render partial: "header"%>
<body>

  <section class="abt-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="left">
            <%= image_tag "abt-us.jpg", class:"img-fluid" %>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="right">
            <h4>About Us</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam asperiores, nobis quos earum repellendus sint quo modi hic aliquam harum corporis officiis quasi culpa voluptate consequatur provident laborum. Autem, recusandae?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam asperiores, nobis quos earum repellendus sint quo modi hic aliquam harum corporis officiis quasi culpa voluptate consequatur provident laborum. Autem, recusandae?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam asperiores, nobis quos earum repellendus sint quo modi hic aliquam harum corporis officiis quasi culpa voluptate consequatur provident laborum. Autem, recusandae?</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="brand">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h3>Our Partners Brands</h3>
        </div>
        <div class="col-md-12">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="logoBox">
                <%= image_tag "Hettich-Logo.png" %>
              </div>
            </div>
            <div class="item">
              <div class="logoBox">
                <%= image_tag "Untitled-design.jpg" %>
              </div>
            </div>
            <div class="item">
              <div class="logoBox">
                <%= image_tag "01.jpg" %>
              </div>
            </div>
            <div class="item">
              <div class="logoBox">
                <%= image_tag "Untitled-design04.jpg" %>
              </div>
            </div>
            <div class="item">
              <div class="logoBox">
                <%= image_tag "Untitled-design033.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="gallery">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h3>Machine Gallery</h3>
        </div>
        <div class="col-md-12">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <%= image_tag "machine.jpg" %>
            </div>
            <div class="item">
              <%= image_tag "machine.jpg" %>
            </div>
            <div class="item">
              <%= image_tag "machine.jpg" %>
            </div>
            <div class="item">
              <%= image_tag "machine.jpg" %>
            </div>
            <div class="item">
              <%= image_tag "machine.jpg" %>
            </div>
            <div class="item">
              <%= image_tag "machine.jpg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <script>
    $(document).ready(function() {
      $('.brand .owl-carousel').owlCarousel({
        loop: true,
        margin: 20,
        responsiveClass: true,
        nav:false,
        dots:true,
        responsive: {
          0: {
            items: 1,
            margin:0,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 4,
          }
        }
      })
    });

    $(document).ready(function() {
      $('.gallery .owl-carousel').owlCarousel({
        loop: true,
        margin: 30,
        responsiveClass: true,
        nav:false,
        dots:true,
        responsive: {
          0: {
            items: 1,
            margin:0,
          },
          600: {
            items: 2,
          },
          1000: {
            items: 2,
          }
        }
      })
    })
  </script>
</body>
</html>
